<div class="w-full bg-header py-6">
  <div class="flex flex-wrap items-center pt-6 pl-4 md:pl-16">
    <%= image_tag 'ph_flower-lotus-fill.png', class: "h-10 w-10 md:h-12 md:w-12 mr-4 relative" %>
    <%= link_to root_path, class:"text-white text-3xl md:text-4xl font-extrabold" do %>
      Memory.
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="flex flex-wrap items-center ">
      <%= image_tag 'ph_flower-lotus-fill.png', class: "h-10 w-10 md:h-12 md:w-12 mr-4 relative" %>
      <%= link_to '#', class:"text-white text-3xl md:text-4xl font-extrabold" do %>
      Memory.</%>
      <% end %>
    </div>

    <div class='flex justify-end py-6 space-x-6 px-12 md:px-24 text-white'>
        <%= link_to 'アルバム作成' %>
        <%= link_to 'アルバム一覧' %>
        <%= link_to 'マイページ' %>
    </div>
  <% end %>
</div>
